<app-cabecalho></app-cabecalho>
<div class="pai">
    <div class="perfil">
        <div>
            <h3><strong>Meu perfil</strong></h3>
        </div>
        <div class="mini-container">
            <div class="foto-perfil">
                <img src="https://github.com/isabelaferreiras.png" alt="foto de perfil" class="foto">
                <p>Alterar foto</p>
            </div>
            <div class="botao-curriculo">
                <button class="botao" routerLink="/curriculo-page">Acessar currículo</button>
            </div>
        </div>
    </div>
    <div class="containers-informacoes">
        <div class="container-1">
            <app-informacoes-profissional></app-informacoes-profissional>
        </div>
        <div class="container-2">
            <app-endereco></app-endereco>
        </div>
    </div>
    
</div>
