
<div class="main-container">

    <div class="itens-geral">
        <div class="nome">
            <p>ID: {{profissional.id}}</p>
            <p>Nome: {{profissional.nome}}</p>
            <p>E-mail: {{profissional.email}}</p>
            <p>{{profissional.endereco.cidade}}, {{profissional.endereco.estado}}</p>
        </div>
        <div class="lugar-curriculo">
            <div class="botao-curriculo">
                <button type="button" routerLink="/view-curriculo-profissional">Ver currículo</button>
            </div>
        </div>
    </div>
    
</div>
