<app-cabecalho-empresa></app-cabecalho-empresa>

<div class="pai">
    <div class="perfil">
        <div>
            <h3><strong>Perfil da empresa</strong></h3>
        </div>
        <div class="mini-container">
            <div class="foto-perfil">
                <img src="https://github.com/isabelaferreiras.png" alt="foto de perfil" class="foto">
                <p>Alterar foto</p>
            </div>
            <div class="botao-curriculo">
                <button class="botao" routerLink="/vagas-empresa">Acessar vagas postadas</button>
            </div>
            <div class="descricao">
                <textarea name="descricao" placeholder="Adicionar descrição"></textarea>
            </div>
            <div class="botao-descricao">
                <button>Editar descrição</button>
            </div>
        </div>
    </div>
    <div class="containers-informacoes">
        <div class="container-1">
            <app-info-empresa></app-info-empresa>
        </div>
        <div class="container-2">
            <app-endereco></app-endereco>
        </div>
    </div>
    
</div>

