<div class="form-container">
    <div class="itens-form">

        <div class="titulo-vaga">
            <h2><strong>Adicionar vaga</strong></h2>
        </div>

        <div class="titulo">
            <input type="text" name="titulo" id="" placeholder="Título da vaga">
        </div>

        <div class="cargo">
            <input type="text" name="cargo" id="" placeholder="Cargo">
        </div>

        <div class="descricao">
            <textarea name="descricao" id="" placeholder="Insira uma descrição para a vaga"></textarea>
        </div>

        <div class="endereco">
            <div class="cidade">
                <input type="text" name="cidade" id="" placeholder="Cidade">
            </div>
            <div class="estado">
                <select name="estado" id="">
                    <option value="">AC</option>
                        <option value="">AL</option>
                        <option value="">AP</option>
                        <option value="">AM</option>
                        <option value="">BA</option>
                        <option value="">CE</option>
                        <option value="">DF</option>
                        <option value="">ES</option>
                        <option value="">GO</option>
                        <option value="">MA</option>
                        <option value="">MT</option>
                        <option value="">MS</option>
                        <option value="">MG</option>
                        <option value="">PA</option>
                        <option value="">PB</option>
                        <option value="">PR</option>
                        <option value="">PE</option>
                        <option value="">PI</option>
                        <option value="">RJ</option>
                        <option value="">RN</option>
                        <option value="">RS</option>
                        <option value="">RO</option>
                        <option value="">RR</option>
                        <option value="">SC</option>
                        <option value="">SP</option>
                        <option value="">SE</option>
                        <option value="">TO</option>
                </select>
            </div>
        </div>

        <div class="botao-save">
            <button>Salvar</button>
        </div>

    </div>
</div>
