<app-cabecalho-empresa></app-cabecalho-empresa>

<div class="tela">
    <div class="container-pai">
        <div class="itens">
            <div class="titulo">
                <h1><strong>O que é o EMPREGOU?</strong></h1>
            </div>
            <div class="descricao">
                <p>O empregou é um sistema web criado pela aluna Isabela Ferreira como projeto de Trabalho de Conclusão
                    de Curso. O sistema tem como objetivo facilitar a busca de emprego por profissionais que estão se 
                    inserindo no mercado de trabalho, profissionais desempregados, e, também, empresas que buscam
                    profissionais capacitados para seus cargos com vagas disponíveis. As empresas podem cadastrar vagas, 
                    ativá-las, além de conseguirem desativá-las e olhar os profissionais que candidataram-se nelas, podendo 
                    acessar seus currículos. Os profissionais podem cadastrar seus currículos no sistema e candidatarem-se nas 
                    vagas das empresas, podendo também pesquisar vagas por palavras-chave na barra de pesquisa.
                </p>
            </div>
        </div>
    </div>
</div>

