p {
    margin: 0;
}

.main__container{
    width: 100%;
    margin: 0 auto;
}

.form__container {
    margin: 3rem auto;
    width: 24rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: white;
}


.registro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.dialogo-1 {
    color: #592405;
    font-family: 'Roboto', sans-serif;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.nome-sobrenome {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    /* padding: 0 0.5rem; */
}

.container-senha {
    width: 100%;
    border: 0.5px solid #592405;
    border-radius: 10px;
}

.input-senha {
    max-height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-senha > input {
    border: 0;
}

.password {
    height: 100%;
    border: 1px solid lime;
}

.input-senha textarea:focus, input:focus{
    outline: none;
} 


input, select {
    width: 100%;
    max-height: 2rem;
    padding: 0.5rem;
    border-radius: 10px;
    border: 0.5px solid #592405;
}

.estados {
    color: gray;
}

::ng-deep html {
    background-color: #b36924;
}

.endereco {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.itens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.estados {
    cursor: pointer;
}

.botao-registrar{
    margin-top: 1rem;
    background-color: #592405;
    color: #ffffff;
    width: 6rem; 
    border-radius: 0.5rem;   
    border: 0.5rem solid #592405;      /* Certifique-se que ocupa a largura do container */
    cursor: pointer;           /* Aparece como botão interativo */
    text-align: center;
}

.dialogo-2 {
    font-weight: 300;
    font-size: smaller;
    color: #592405;
    cursor: pointer;
}

.nome-sobrenome textarea {
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid #592405;
    padding-left: 0.5rem;
}