<div class="card-container">
    <div class="itens-card">
        <div class="neto">

            <div class="titulos-card">
                <div class="titulo">
                    <h3><strong>{{ vaga.titulo }}</strong></h3>
                </div>
                <div class="cargo">
                    <p>{{ vaga.cargo }}</p>
                </div>
            </div>

            <div class="descricao">
                <p>{{ vaga.descricao }}</p>
            </div>

            <div class="calda-card">
                <div class="infos">
                    <div class="empresa">
                        <p>{{ vaga.empresa.nome }}</p>
                    </div>                
                    <div class="cidade">
                        <p>{{vaga.empresa.endereco.cidade}}, {{vaga.empresa.endereco.estado}}</p>
                    </div>
                    <div class="situacao">
                        <p>Situação da vaga: {{ vaga.situacao }}</p>
                    </div>
                </div>
    
                <div class="botao-ver-mais">
                    <button (click)="cadastrarNaVaga(vaga.id)">Candidatar-se</button>
                </div>
            </div>

        </div>
    </div>
</div>
